<div class="content col-9 shop-details">
  <% @response["results"]["shop"].each do |res| %>
    <div class="details-top">
      <div class="left-side">
        <%= image_tag res["photo"]["pc"]["l"], class: "shop-photo" %>
      </div>
      <div class=" right-side">
        <h2><a href="<%= res['urls']['pc'] %>" ><%= res['name'] %></a></h2>
        <h4><%= res['catch'] %></h4>

        <ul class="about">
          <li class="budget">
            <span>予算</span>
            <p><%= res['budget']['average'] %></p>
          </li>
          <li class="genre">
            <span>ジャンル</span>
            <p><%= res['genre']['name'] %><%= res['genre']['catch'] %></p>
          </li>
          <li class="open">
            <span>営業日</span>
            <p><%= res['open'] %></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="details-bottom">
      <div class="left-side">
        <ul class="about">
          <li class="address">
            <span>住所</span>
            <p><%= res['address'] %></p>
          </li>
          <li class="access">
            <span>アクセス</span>
            <p><%= res['access'] %></p>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <div class="map"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
</script>